
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse"  style="background-color:#3D0000; border:#118400; padding:10px;  font-family: 'Pattaya', sans-serif; ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  href="/" style = 'color:white;'>Alumni</a>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <ul class="nav navbar-nav navbar-left">


                <!-- Adding a search form  -->
                <form class="navbar-form" role="search" align="middle" action="/search">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="article">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" ><i class="glyphicon glyphicon-search" style="color:#1C3A13" ></i></button>
                        </div>
                    </div>

                </form>
                <!-- search form end -->

        </ul>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <ul class="nav navbar-nav navbar-right">

                          <li>
                          <a href="/profile" id="instTitle" style=" margin-right:10px; font-size:25px;">
                              <span class="glyphicon glyphicon-user" style="font-size:20px;color:white"></span>
                          </a>
                          </li>

                          <li>
                          <a href="#" id="instTitle" style="margin-right:10px;font-size:25px;">
                              <span class="glyphicon glyphicon-plus" style="font-size:20px;color:white">institution</span>&nbsp;
                          </a>
                          </li>



                          <li>
                          <a href="accounts/login">
                              <i class="glyphicon glyphicon-off" style="font-size:20px;color:white" href="accounts/login">logout</i>
                          </a>
                          </li>

              </ul>

                      </div>
      <div class="col-sm-6 col-md-6">
                <!-- #  if -->








                <!-- # else -->

                <!-- # endif -->
          </div>

  </div>
</nav>
</body>
</html>
