{%extends 'all-templates/base.html'%}
{{block.super}}
{% block content %}



{% for all in profile%}
<div class="content-section">
  <div class="media">

    <div class="col-md-4">
    </div>

    <div class="col-md-12">
      <img class="rounded-circle account-img" src="{{all.dpic.url}}" alt="" style='border-radius:90%; margin-left:320px;'>
      <div class="media-body">
        <div class="col-md-4" style='padding:5px; border:1px solid; border-color:#3D0000; margin-left:250px;'>
          <h2 class="account-heading" style="font-family: 'Pattaya', sans-serif;"><b>{{all.name}}</b></h2><br><br>
          <p> <b>Email:  </b><i>{{all.email}}</i></p><br>
          <p> <b>Contact:  </b>{{all.contact}}</p><br>
          <p> <b>Joined:  </b>{{all.joined}}</p><br>
          <p> <b>Left:  </b>{{all.left}}</p><br>
        </div>



      </div>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</div>
{% endfor %}
{% endblock %}
